*{
    margin:0px ;
    padding: 0px;
}
.test{
    color: blue;
    cursor: url("../digital-products/download.jpg"),auto;
}
.container{
    display: flex;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    
}


.box{
    padding: 20px;
    background-color: red;
    width: 110px;
    height: 110px;
    
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}